#myntra-app {
    margin: 0;
}

.w-25 {
    width: 25%;
}

.float-left {
    float: left;
}

.card-img-top {
    height: 300px;
}

.border {
    border: 1px solid red;
}

.category-filter {
    width: 250px;
    float: left;
}

.products {
    width: calc(100% - 250px);
    float: left;
}